[defaults]
inventory      = hosts
timeout = 300
remote_user = root
retry_files_enabled = False
[ssh_connection]
ssh_args = -o ServerAliveInterval=20 -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
